.mentor-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mentor-home-header {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  position: fixed;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.mentor-home-header h1{
  color: #2760cb;
}

.profile-link {
  color: #007bff;
  text-decoration: none;
}

.profile-link:hover {
  text-decoration: underline;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f1f1f1;
  margin-left: 250px; /* Add margin to prevent overlap */
  padding-top: 80px; /* Adjust to match header height */
}

.mentor-sidebar {
  width: 250px;
  background-color: #2e6ca9;
  color: white;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 15%;
}

.mentor-sidebar nav ul {
  list-style: none;
  padding: 0;
  padding-top: 20px;
}

.mentor-sidebar nav ul li {
  margin: 15px 0;
  padding-bottom: 27px;
}

.mentor-sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}

.mentor-sidebar nav ul li a:hover {
  cursor: pointer;
  background-color: #dce8f6;
  color: #2e6ca9;
}

.logout-btn button{
  background-color: #d1dfed;
  color: #2e6ca9;
  font-size: 18px;   
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border: none;
  margin-left: 15px;
  transition: 0.3s all ease-in-out;
}
.logout-btn button:hover{
  cursor: pointer;
  background-color: #9fbbef;
  color: white;
}