header{
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;

  }
  
  .logo{
    font-size: 30px;
    font-weight: bold;
    color: #2760cb;
  }

  .search-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 0.5px solid gray;
    padding: 1px 10px 1px 10px;

  }
  
  .nav-links input {
    padding: 5px 10px;
    border: none !important;
    border-radius: 4px;
    outline: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding-left: 15px;
  }
  
  .nav-links a:hover{
    color: #2760cb;
  }

  .search-container:hover{
    border: 1px solid #2760cb;
  }